/*----------------------

DASHBOARD SECTION STYLE

------------------------*/

#dashboard{
    .actives{
        color:rgb(38, 63, 172);
        font-weight: bolder;
        
        }
& ul{

li{
border:none;
padding:.4rem 0;
a{
    color:#6c757d;
}
}


}

& .gender{
width:20%;



}
.phones{
& h6{
    font-weight: bolder;
}
& a{
    font-size:.9rem;
}


}
.fa-lock{
    font-size:.7rem;
}
.fa-plus{
    font-size: .8rem;
}
.add-btn{
    font-size:.9rem;
    cursor: pointer;
}
#add-phone{
    cursor: pointer;

    
}

}
.dash{
    background:#948f8f18;
}

/*----------------------

PROFILE SECTION STYLE

------------------------*/

#profile{
margin-top:6rem;
min-height: 100vh;
& h6{
    font-weight: bolder;
}
& img{
max-width:7rem; 

height:7rem;
}
& .userid{
    img{
        max-width:1.5rem; 
        height
        :1.5rem;  
    }

}



}









// MEDIA QUERY FOR THE DASHBOARD
@include mediasm{
#dashboard{
    & .gender{
        width:100%;
    }
}
.add-btn{
    font-size:.8rem;
    cursor: pointer;
}
#profile{
margin-top:4rem;



}

}

